* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.app_container {
  background-color: #c9eddc;
  min-height: 100vh;
  overflow: visible;
}
